.flow-chart-container button:not(.tc-btn-invisible) {
  color: unset;
}

.flow-chart-mouse-event-node {
  user-select: none;
  /* https://github.com/reaviz/reaflow/issues/50#issuecomment-776164845 */
  /* pointer-events: none; */
}

.flow-chart-node-view-mode {
}

.flow-chart-container button.flow-chart-button {
  color: white;
  background-color: #666;
  width: 27px;
  height: 27px;
  font-size: 10px;
  user-select: none;
  cursor: pointer;

  opacity: 0;
}
.flow-chart-buttons-container {
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 0.2s;
}
.flow-chart-buttons-container:hover button.flow-chart-button {
  opacity: 1;
}
.flow-chart-focused-node button.flow-chart-button {
  opacity: 1;
}

.flow-chart-edit-node > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flow-chart-container input.flow-chart-edit-input {
  width: calc(100%);
}
.flow-chart-container button.flow-chart-edit-done-button {
  opacity: 1;
}
